.recommendations {
  display: flex;

  .before-chart,
  .after-chart {
    flex: 1;
  }

  h4 {
    margin-bottom: 12px;
  }

  .recommendation-list {
    flex: 1;

    h4 {
      text-align: center;
    }
  }

  .recom-class {
    border: 1px solid grey;
    padding: 15px;
    margin: 0 15px 15px;
    border-radius: 5px;
  }
}

.latency-chart {
  min-height: 300px;
}